<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Billing and Location Settings for Deployment</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">EAI-CODE</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail1" placeholder="EAI">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="col-sm-3 col-form-label">DPC-CODE</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword2" placeholder="DPC">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3">Radios</label>
            <div class="col-sm-9">
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="gridRadios" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">AMERICAS</span>
                </label>
              </div>
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="gridRadios">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">EMEA</span>
                </label>
              </div>
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="gridRadios" >
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">ASIA</span>
                </label>
              </div>
            </div>
          </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Search Deployment Inventory</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="EAI-CODE">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="DPC-CODE">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="APP NAME">
            </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Type of Service"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Send</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
      <nb-card>
          <nb-card-header>Application Blueprints</nb-card-header>
          <nb-card-body>
            <div class="form-group">
              <label>Application Blueprints</label>
              <select class="form-control">
                <option>Application Blueprint 1</option>
                <option>Application Blueprint 2</option>
                <option>Application Blueprint 3</option>
                <option>Application Blueprint 4</option>
                <option>New 3 Tier App Blueprint</option>
              </select>
              <button type="submit" class="btn btn-success">Send</button>

            </div>
            <div class="form-group">
              <label>Custom PaaS Deployment</label>
              <select multiple class="form-control">
                <option>WebApp</option>
                <option>SQLDB</option>
                <option>Service Bus</option>
                <option>Redis</option>
                <option>CosmosDB</option>
              </select>
                </div>
                <button type="submit" class="btn btn-success">Send</button>

          </nb-card-body>
        </nb-card>
  </div>
</div>
